<!-- header.component.html -->
<header class="text-gray-700 body-font bg-black shadow-md">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <img src="\assets\logo.jpg" alt="" class="w-10 h-10 rounded-full">
          <span class="ml-3 text-xl text-white">Online-Shop</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
          <a routerLink="/" routerLinkActive="active" class="mr-5 hover:text-gray-900 text-white">Home</a>
          <a routerLink="/about" routerLinkActive="active" class="mr-5 hover:text-gray-900 text-white">About</a>
          <a routerLink="/products" routerLinkActive="active" class="mr-5 hover:text-gray-900 text-white">Products</a>
          <a routerLink="/contact" routerLinkActive="active" class="mr-5 hover:text-gray-900 text-white">Contact</a>
          <a routerLink="/login" routerLinkActive="active" class="mr-5 hover:text-gray-900 text-white">Login</a>
      </nav>
  </div>
</header>
