<h1 class="text-center-gray-900 title-font text-lg font-medium">Product-List</h1>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product1" class="object-cover object-center w-full h-full block" src="assets\camera.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Electronics</h3>
            <h2 class="text-blue-900 title-font text-lg font-medium">Camera</h2>
            <p class="mt-1">$16.00</p>
          </div>
        </div>
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product2" class="object-cover object-center w-full h-full block" src="\assets\designer-bag.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Luxury-Item</h3>
            <h2 class="text-pink-900 title-font text-lg font-medium">Designer-Bag</h2>
            <p class="mt-1">$21.15</p>
          </div>
        </div>
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product3" class="object-cover object-center w-full h-full block" src="\assets\diamond-ring.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Luxury-Item</h3>
            <h2 class="text-orange-900 title-font text-lg font-medium">Diamond-Ring</h2>
            <p class="mt-1">$20.00</p>
          </div>
        </div>
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product4" class="object-cover object-center w-full h-full block" src="\assets\dress.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Fashion</h3>
            <h2 class="text-green-900 title-font text-lg font-medium">Dresses</h2>
            <p class="mt-1">$12.40</p>
          </div>
        </div>
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product5" class="object-cover object-center w-full h-full block" src="\assets\headphones.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Electronics</h3>
            <h2 class="text-voilet-900 title-font text-lg font-medium">Headphones</h2>
            <p class="mt-1">$10.00</p>
          </div>
        </div>
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product6" class="object-cover object-center w-full h-full block" src="\assets\jeans.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Fashion</h3>
            <h2 class="text-red-900 title-font text-lg font-medium">Jeans</h2>
            <p class="mt-1">$10.15</p>
          </div>
        </div>
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="product7" class="object-cover object-center w-full h-full block" src="\assets\smartphone.jpg">
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Electronics</h3>
              <h2 class="text-blue-900 title-font text-lg font-medium">Smartphone</h2>
              <p class="mt-1">$21.15</p>
            </div>
          </div>
          
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product8" class="object-cover object-center w-full h-full block" src="/assets/laptop.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Electronics</h3>
            <h2 class="text-green-900 title-font text-lg font-medium">Laptop</h2>
            <p class="mt-1">$12.00</p>
          </div>
        </div>
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="product9" class="object-cover object-center w-full h-full block" src="\assets\t-shirt.jpg">
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Fashion</h3>
              <h2 class="text-orange-900 title-font text-lg font-medium">T-Shirts</h2>
              <p class="mt-1">$12.00</p>
            </div>
          </div>
          <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="product10" class="object-cover object-center w-full h-full block" src="\assets\watch.jpg">
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Luxury-Item</h3>
              <h2 class="text-blue-900 title-font text-lg font-medium">Watch</h2>
              <p class="mt-1">$12.00</p>
            </div>
          </div>
          <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product11" class="object-cover object-center w-full h-full block" src="\assets\cufflinks.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Luxury-Item</h3>
            <h2 class="text-red-900 title-font text-lg font-medium">Cufflinks</h2>
            <p class="mt-1">$12.00</p>
          </div>
        </div>
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product12" class="object-cover object-center w-full h-full block" src="\assets\shoes.jpg">
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Fashion</h3>
            <h2 class="text-blue-900 title-font text-lg font-medium">Shoes</h2>
            <p class="mt-1">$12.00</p>
          </div>
        </div>
        <!-- Repeat t
        <!-- Repeat the above block for other products -->
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="product8" class="object-cover object-center w-full h-full block">